<div class="bookshelf">
  <header>
    Your Bookshelf
  </header>

  <div class="books">
  <section>
    <% @books.each do |book| %>
      <article class="h <%= @colors.next %>"  >
        <%= book.title %></br>
        <%= book.author %>
      </article>
    <% end %>
    <article class="h" id="new-book">
      <svg width="82" height="82">
        <circle cx="41" cy="41" r="40" fill="orange" />
      </svg>
    </article>
  </section>
  <script>
    
  </script>
</div>
</div>