/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  margin: 0px;
}

header {
  border-bottom: green solid 3px;
  background-color: #adde63;
  height: 100px;
}


.identity {
  width: 30%;
  height: 100px;
  float: left;
}

.logo {
  font-size: 30px;
  margin-top: 20px;
  margin-left: 20px;
}

.slogan {
  margin-top: 10px;
  margin-left: 20px;
}

.main-nav {
  width: 70%;
  float: left;
}

.main-nav ul {
  margin-right: 20px;
  padding-top: 60px;
  float: right;
}

.main-nav li {
  display: inline;
}

footer {
  border-top: green solid 3px;
  background-color: #adde63;
  height: 200px;
}

small {
  float: left;
  width: 30%;
}

small p {
  margin-top: 10px;
  margin-left: 20px;
}

footer nav {
  float: left;
  width: 70%;
}

footer ul {
  float: right;
  margin-top: 3px;
  margin-right: 20px;
}

footer li {
  display: inline;
}

