/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import url('http://fonts.googleapis.com/css?family=Open+Sans');


body {
  margin: 0px;
  color: #5F1D2B;
  font-family: 'Open Sans';
}

.main-header {
  background-color: rgb(34, 34, 34);
  min-height: 35px;
}

.logo {
  color: rgb(170, 170, 170);
  font-size: 13px;
  padding-top: 9px;
  padding-left: 11px;
}

.slogan {
  margin-top: 10px;
  margin-left: 20px;
}

.main-nav {
  width: 70%;
  float: left;
}

.main-nav ul {
  margin-right: 20px;
  padding-top: 60px;
  float: right;
}

.main-nav li {
  display: inline;
}

small {
  float: left;
  width: 30%;
}

small p {
  margin-top: 10px;
  margin-left: 20px;
}

footer nav {
  float: left;
  width: 70%;
}

footer ul {
  float: right;
  margin-top: 3px;
  margin-right: 20px;
}

footer li {
  display: inline;
}

