// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bookshelf {
  width: 960px;
  margin: auto;
}

.bookshelf header {
  margin-top: 20px;
  text-align: center;
  font-size: 51px;
}

.books {
  overflow: auto;
  padding: 70px;
}

.h {
 background-color: rgb(217, 217, 220);
 width: 175px;
 height: 210px;
 margin: 10px;
 float: left;
 border-left: 10px solid;
}

#new-book svg {
  margin-left: 47px;
  margin-top: 64px;
}