<header class="main-header">
    <div class="logo">Short Codes</div>
  <nav class="main-nav">
    <ul>
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Books', '#' %></li>
      <li><%= link_to 'Blog', '#' %></li>
    </ul>
  </nav>
</header>