<header class="main-header">
  <div class="identity">
    <div class="logo">Book Tracker</div>
    <div class="slogan">Keep Track of Your Reading</div>
  </div>
  <nav class="main-nav">
    <ul>
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Books', '#' %></li>
      <li><%= link_to 'Blog', '#' %></li>
    </ul>
  </nav>
</header>